body {
    text-align: center;
    font-family: Verdana, Arial;
}

.pixel {
    position: relative;
    opacity: 0;
    width:100px;
    height:100px;
    /*border: solid;
    border-width: 1px;*/
    background-color: black;
}